# name: deploy-heroku
# on:
#   push:
#     paths:
#       - "server/**"
# jobs:
#   push-heroku:
#     runs-on: ubuntu-latest
#     steps:
#     - name: Checkout
#       uses: actions/checkout@v3

#     - name: Add Heroku Remote
#       run: git remote add heroku https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/{{ secrets.HEROKU_APP }}.git

#     - name: Deploy Server to Heroku
#       run: git push heroku `git subtree split --prefix server main`:main --force